---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Descubre">
  <main class="w-full flex justify-center">
    <div class="text-center">
      <h1 class="text-4xl text-neutral-800 pb-9 pt-2">
        ¡Aprendiendo a utiliziar la librería ml5!
      </h1>

      <ul>
        <li>
          <a href="/knn-classifier">KNN Classifier</a>
        </li>
        <li>
          <a href="/post-net">Post net</a>
        </li>
        <li>
          <a href="/face-api">Face Api</a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
